/* Body Style */
body
{
	background-color: #222 !important;
	color: #000;
	padding-top: 70px;
	padding-bottom: 30px;
}

.panel-body {
	overflow-x: auto;
}

/* Right-aligned Menu */
@media (max-width: 992px) {
	.navbar-collapse li a, .navbar-collapse li p {
		padding: 15px 10px;
	}
}

@media (max-width: 768px) {
	.navbar-collapse {
		list-style: none;
		margin: 70px 0 0 -220px !important;
		padding: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 220px;
		display: block;
		background: #1a1a1a;
		height: 100%;
		max-height: none !important;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 1000;

		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.navbar-collapse::-webkit-scrollbar {
		display: none;
	}

	.navbar-collapse.toggled {
		margin: 70px 0 0 0 !important;
	}

	.navbar-collapse ul {
		padding: 0;
		margin: 0;
	}

	.navbar-collapse li {
		display: inline-block;
		line-height: 20px;
		position: relative;
		width: 100%;
	}

	.navbar-collapse li:before {
		-moz-transition: width 0.2s ease-in;
		-ms-transition: width 0.2s ease-in;
		-webkit-transition: width 0.2s ease-in;
		transition: width 0.2s ease-in;
		background-color: #1c1c1c;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 3px;
		z-index: -1;
	}

	.navbar-collapse li:nth-child(2):before { background-color: #52418a; }
	.navbar-collapse li:nth-child(3):before { background-color: #5c499c; }
	.navbar-collapse li:nth-child(4):before { background-color: #6651ad; }
	.navbar-collapse li:nth-child(5):before { background-color: #7562b5; }
	.navbar-collapse li:nth-child(6):before { background-color: #8473be; }
	.navbar-collapse li:nth-child(7):before { background-color: #9485c6; }
	.navbar-collapse li:nth-child(8):before { background-color: #a396ce; }
	.navbar-collapse li:nth-child(9):before { background-color: #b2a7d6; }

	.navbar-collapse li:hover:before {
		-webkit-transition: width 0.2s ease-in;
		transition: width 0.2s ease-in;
		width: 100%;
	}

	.navbar-collapse li a, .navbar-collapse li p {
		color: #fff !important;
		display: block;
		padding: 10px 15px;
		text-decoration: none;
	}

	.navbar-collapse li p {
		margin: 0;
		font-size: 18px;
		color: #9d9d9d !important;
	}

	.navbar-collapse li.open:hover before {
		-webkit-transition: width 0.2s ease-in;
		transition: width 0.2s ease-in;
		width: 100%;
	}

	.navbar-collapse .dropdown-menu {
		background-color: #222222;
		border-radius: 0;
		border: none;
		box-shadow: none;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
	}

	.navbar-collapse li a:hover, .navbar-collapse li a:active, .navbar-collapse li a:focus, .navbar-collapse li.open a:hover, .navbar-collapse li.open a:active, .navbar-collapse li.open a:focus {
		background-color: transparent;
		color: #ffffff;
		text-decoration: none;
	}

	.navbar-collapse > .sidebar-brand {
		font-size: 20px;
		height: 65px;
		line-height: 44px;
	}

	.overlay {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
		opacity: 0;

		-webkit-transition: opacity 0.5s ease-in;
		-moz-transition: opacity 0.5s ease-in;
		-o-transition: opacity 0.5s ease-in;
		transition: opacity 0.5s ease-in;
	}

	.overlay.visible {
		display: block;
		opacity: 1;
	}

	#wrapper {
		overflow-x: hidden;
	}

	#wrapper-inner {
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	#wrapper-inner.toggled {
		padding-left: 220px;
		margin-right: -220px;
	}
}

/* Admin Dashboard */
.placeholder {
	text-align: center;
	margin-bottom: 30px;
}

.placeholder-item {
	margin: 0 auto 15px;
	width: 200px;
	height: 200px;
}

/* Custom Header and Footer CSS */
.header {
	padding: 1em 0 1em 0;
	text-align: center;
}

@media screen and (min-width: 640px) {
	div.header h1 {
		font-size: 2.5em !important;
		letter-spacing: 13px !important;
	}
}

.header h1 {
	font-size: 1.8em;
	letter-spacing: 9px;
	// font-family: 'Arvo';
	font-weight: 700;
	color: #000;
	text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
	text-transform: uppercase;
	margin: 0.25em 0;
}

.header h1 a {
	color: inherit;
}

.header h1 a:hover, div.header h1 a:focus {
	text-decoration: none;
}

.header p {
	margin: 0em 0 1em;
	font-size: 1em;
	letter-spacing: 3px;
	font-weight: bold;
	color: #888;
}

.header-container {
	// border-bottom: solid 2px #eee;
	// box-shadow: inset 0 -8px 0 0 #222, inset 0 -10px 0 0 #eee;
	// margin-bottom: 1em;
}

.navbar-header {
	color: #eee;
}

nav ul.navbar-nav > li > .dropdown-menu > li > a:hover,
nav ul.navbar-nav > li > .dropdown-menu > li > a:active,
nav ul.navbar-nav > li > .dropdown-menu > li > a:focus {
	background: #eee !important;
	color: #000 !important;
}

nav ul.navbar-nav > li > .dropdown-menu > li > a {
	color: #fff !important;
}

nav ul.navbar-nav > li > .dropdown-menu {
	background: #111;
	-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075) !important;
	box-shadow: inset 0 3px 9px rgba(0,0,0,0.075) !important;
}

nav ul.navbar-nav > li.open > a.dropdown-toggle {
	background: #111 !important;
	color: #fff !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

footer {
	color: #eee;
}

/* Misc */
.smaller, smaller {
	font-size: 75%;
}

.smallest, smallest {
	font-size: 65%;
}

.avatar {
	/* width: 25px; */
}

.text-gray {
	color: #7e7e7e;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

.sidebar p {
	text-align: justify;
}

.sidebar h2 {
	font-size: 1.65em;
	font-weight: 400;
	margin: 0 0 0.5em 0;
	line-height: 1.10em;
	color: #888;
}

.sidebar-module {
	padding: 0 15px;
	margin: 0 -15px 15px;
}

.sidebar-module-inset {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.sidebar-module h5 {
	margin-top: 0;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
	margin-bottom: 0;
}

/* View Thread Styles */

.post-signature {
	margin-top: 25px;
	padding: 10px 0;
	border-top: 1px solid #eee;
}

.post-signature-body {
	overflow-y: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	position: relative;
}

.post-signature-body:after {
	content: '';
	width: 100%;
	height: 35px;
	position: absolute;
	left: 0;
	top: 90;
	background: linear-gradient(transparent, #fff);
}

.post-signature-footer {
	font-size: 18px;
	text-align: center;
}

.post-row {
	padding: 15px 0;
}

.post-author {
	text-align: center;
	vertical-align: top;
}

.post-author .author-name {
	display: block;
	margin-bottom: 5px;
	font-size: 18px;
	text-decoration: none;
	color: #dd2c00;
}

.post-body {
	vertical-align: top;
}

.post-body p {
	margin: 10px 0;
}

.post-rank {

}

.post-footer {
	color: #9e9e9e;
	padding: 10px 15px;
}

.post-footer-inner {
	border-bottom: 1px solid #eee;
}

/* Chat */
#chat {
	position: absolute;
	bottom: 0;
	right: 15px;
	z-index: 1000;
}

#chat_header {
	height: 50px;
	width: 62px;
	padding: 10px;
	background-color: white;
	cursor: pointer;
}

#chat_header_title {
	font-size: 2em;
	display: none;
}

#chat_header_open {
	float: right;
}

#chat_box {
	display: none;
	border-top: 1px solid black;
	height: 0;
	width: 62px;
	background-color: white;
}

#chat_box_content {
	padding: 10px;
	box-sizing: border-box;
}

#chat_input {
	padding: 20px !important;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	font-size: 14px;
}

/* Mobile */
@media screen and (max-width: 990px) {

	#chat {
		display: none;
	}

}
